*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  color: rgb(126, 120, 120);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 600px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

h1 {
  font-size: 1.25em;
}

hr {
  height: 0;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}

header {
  padding: 10px 10px 10px 15px;
  height: 70px;
  background-color: rgb(245, 245, 245);
  box-shadow: 0px 0px 26px -6px darkgrey;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
header h1 {
  font-size: 0.95em;
}
header .nav {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  color: rgb(126, 120, 120);
}
header .nav a {
  padding: 5px 7px;
  border-radius: 50%;
  background-color: #fff;
}
header .nav a i {
  font-size: 1.1em;
}

.wrapper {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  position: relative;
  top: 70px;
  z-index: 0;
}
.wrapper .balance {
  text-align: right;
  font-weight: lighter;
  color: rgb(114, 114, 114);
  text-transform: initial;
  font-weight: 600 !important;
}
.wrapper .inflow-outflow-container {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
}
.wrapper .inflow-outflow-container h4 {
  margin-top: 0;
}

form input,
form select,
form textarea {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.6);
  display: block;
  width: 100%;
  min-height: 50px;
  margin-bottom: 40px;
  padding: 15px;
  outline: none;
  border: 1px solid rgb(38, 163, 240);
  border-radius: 5px;
  transition-duration: 0.3s;
  transition-property: box-shadow;
}
form input:hover, form input:focus,
form select:hover,
form select:focus,
form textarea:hover,
form textarea:focus {
  box-shadow: 1px 1px 5px -1px rgb(38, 163, 240);
}
form input::-moz-placeholder, form select::-moz-placeholder, form textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
form input::placeholder,
form select::placeholder,
form textarea::placeholder {
  color: rgba(0, 0, 0, 0.6);
}
form textarea {
  margin-bottom: 0;
}
form button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  background-color: rgb(38, 163, 240);
  color: #fff;
  width: 170px;
  padding: 15px 45px;
  margin-top: 10px;
  outline: 0;
  border: 0;
  border-radius: 5px;
  transition-duration: 0.3s;
  transition-property: background-color;
}
form button:hover, form button:focus {
  background-color: rgba(38, 163, 240, 0.7);
}

.panel {
  margin-bottom: 24px;
  border: 1px solid rgb(38, 163, 240);
  border-radius: 5px;
  padding: 10px 15px;
  box-shadow: 5px 5px 25px -15px darkgrey;
}

.panel__title {
  color: rgba(0, 0, 0, 0.5333333333);
}

.error {
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: rgb(221, 49, 49);
}

.success {
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: rgb(49, 221, 175);
}

.credit {
  color: rgb(49, 221, 175) !important;
  font-weight: 600 !important;
}

.debit {
  color: rgb(221, 49, 49) !important;
  font-weight: 600 !important;
}

.today {
  color: #6a1b4d !important;
  font-weight: 600 !important;
}/*# sourceMappingURL=main.css.map */